.profile{
    font-weight: 800;
    background-color: var(--color-night);
    color: var(--color-light);
    border: transparent;
}

.profile:hover{
    color: var(--color-dark);
    background-color: var(--color-gray);
}

.item{
    color: var(--color-dark);
}