.input[type=text] {
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 25px 0px 0px 25px;
  font-size: 15px;
  background-color: var(--color-light);
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 4px 10px 4px 10px;
} 

.searchButton{
  border-radius: 0px 25px 25px 0px;
  width: auto;
  border-left: transparent;
  padding: 4px 7px 4px 7px;
}

.form{
  width: auto;
  margin-left: 5%;
}
