.address{
    border-radius: 10px;
    border: ridge var(--color-gray-dark);
    padding: 20px;
    height: 700px;
    width: 600px;
}

.form{
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.div{
    display:inline-flex;
}
.p{
    margin-top: 20px;
}

.payment{
    border-radius: 10px;
    border: ridge var(--color-gray-dark);
    padding: 20px;
}