.title {
    margin-top: 2rem;
}

.cart {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.total {
    margin-top: 2rem;
    text-align: right;
    margin-right: 7rem;
}

.remove {
    margin-top: 1rem;
    text-align: left;
    margin-left: 5rem;
    padding:10px;
}

.loading-item-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}