.gridcontainer{
    display: flex;
    margin: 5rem 5rem;
}

.total{
    margin-left:2rem;
    align-content: right;
    justify-content: right;
    float: right;
}

.products{
    width: 70%;
}

.table{
    padding: 0em;
}
.table tr{
    border-bottom: 2px solid darkgray;
}

.strong{
    text-align: right;
}
    
.allcontainer{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    background-color: #f3f3f3;
    height: fit-content;
    margin: 2rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}     

.titlebox{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    word-break: break-word;
    margin-bottom: 28px;
    border-bottom: 2px solid var(--color-dark);
}    


.title{
    -webkit-text-size-adjust: 100%;
    -webkit-box-direction: normal;
    word-break: break-word;
    box-sizing: inherit;
    font-family: Arial, "Arial Unicode MS", Helvetica, "DejaVu Sans", "Lucida Sans Unicode", sans-serif;
    color: #1A1A1A;
    text-transform: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0;    
}
    



 