.productContainer{
    margin-bottom: 2rem;
    margin-left: 25px;
    margin-top: 25px;
    display:inline-flex;
}

.productInfo {
    margin-left: 70px;
    padding: 2rem;
    display:block;
}

.productAction {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.productName {
    font-size: 3rem;
    font-weight: 600;
}

.productPrice {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.productDesc {
    font-size: 1.7rem;
    margin-top: 2rem;
    color: var(--color-description);
}

.heading {
    padding: 0 2rem;
}


.carousel{
    margin-left: 25px;
    margin-top: 25px;
    height:400px; 
    width: 400px;
}

.carousel-inner > .item > img { width:130px; height:130px; }
