.productContainer {
    margin-bottom: 2rem;
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
}

.productInfo {
    margin-left: 70px;
    padding: 2rem;
}

.productAction {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.productName {
    font-size: 3rem;
    font-weight: 600;
}

.productPrice {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.productDesc {
    font-size: 1.7rem;
    margin-top: 2rem;
    color: var(--color-description);
}

.heading {
    padding: 0 2rem;
}

.carousel {
    margin-left: 25px;
    margin-top: 25px;
    width: 400px;
    height: 400px;
    display: flex;
}

.carousel-inner>.item>img {
    width: 130px;
    height: 130px;
}

.input {
    text-align: center;
}

.minus {
    margin-bottom: 3px;
}

.plus {
    margin-top: 2px;
}