@media screen and (max-width:760px){
    .productContainer {
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
        display: block;
    }
    }


@media screen and (min-width:760px){
    .productContainer {
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
        display: inline-flex;
    }
    
}



.productInfo {
    margin-left: 3rem;
    padding: 2rem;
}

.productAction {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.productName {
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
}

.productPrice {
    margin-top: 2rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--color-dark);
}

.productDesc {
    font-size: 1.7rem;
    margin-top: 2rem;
    color: var(--color-description);
}

.heading {
    padding: 0 2rem;
}

.carousel {
    margin-left: 2rem;
    width: 40rem;
    height: 40rem;
    display: flex;
}

.carousel-inner>.item>img {
    width: 13rem;
    height: 13rem;
}

.carouselcontrolprevicon,
.carouselcontrolnexticon {
  height: 3em;
  width: 3rem;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  background-color: black;
  top: 45%;

}

.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button, .input, .input[type=number] {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.minus {
    border:none;
    background-color: transparent;
}

.plus {
    border:none;
    background-color: transparent;
}

.productavailable{
    font-size: 1.7rem;
    margin-top: 2rem;
    font-weight: 400;
    color: var(--color-danger);
    background-color: var(--color-gray-light);
}