@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  --color-primary: #5596eb;
  --color-secondary: #30e3ca;
  --color-tertiary: #11999e;
  --color-quaternary: #643b77;
  --color-gray: #f5f5f5;
  --color-gray-dark: #efefef;
  --color-gray-light: #eee;
  --color-dark: #222;
  --color-light: #fff;
  --color-red: #eb1a0f;
  --color-info: blue;
  --color-success: #8bc34a;
  --color-danger: #c00;
  --color-danger-light: #fbe1e3;
  --color-lightblue: #2196F3;
  --color-selection: #99cbff;
  --border-radius: 6px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  /*background-color: var(--color-primary);*/
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.dots {
  bottom: 3rem;
}

.dots li button:before {
  font-size: 1rem;
}

.slick-slider {
  overflow: hidden;
}

input,
select,
textarea {
  font-family: 'Poppins';
}

h1{
  margin-top: 20px;
  text-align: center;
}

button{
  border-radius: 4px;
  padding:  4px 20px 4px 20px;
}
