.container {
    padding: 1rem 0;
}

.title {
    text-align: center;
}

.imagehome{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imagehome{
    margin-left: 14%;
    margin-right: 15%;
}


  
 