.detailsorder{
    display: flex;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 25px;
}

.div{
    border-right: 1px solid var(--color-dark);
    text-align: center;
    padding: 10px;
}

.itemlayout {
    margin: 20px; 
}

 .info{
     margin-top: 20px;
     margin-left:25px;
 }

.button{
    margin-top: 25px;
    display: flex;
    margin-left:20px;
}