.div {
    background-color: var(--color-gray-light);
    border-radius: 5px;
    border: ridge var(--color-gray-dark);
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 3rem;
}

.h1 {
    text-align: center;
}

.p {
    font: bold;
}

.button {
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px 20px 4px 20px;
}

.linkcontainer{
}

.link{
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--color-dark);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    font-weight: bold;
    margin-left: 3rem;
    margin-top: 3rem;
}

.link:hover{
    color: var(--color-dark);
    background-color: Transparent;
    text-decoration: underline;
    background-repeat:no-repeat;
    border: none;
}

.link:active{
    color: var(--color-dark);
    background-color: Transparent;
    text-decoration: underline;
    background-repeat:no-repeat;
    border: none;
}

.user {
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

.danger {
    text-align: center;
    justify-content: center;
}

.container{
    display:inline-flex;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: 3rem;
    align-content: right;

}