.div{
    background-color: var(--color-gray-light);
    border-radius: 5px;
    border: ridge var(--color-gray-dark);
    padding: 60px;
    margin:  50px 50px;
}

.h1{
    text-align: center;
}

.p{
    font: bold;
}

.button{
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding:  4px 20px 4px 20px;
}