.button {
    font-weight: 800;
    background-color: transparent;
    color: var(--color-dark);
    border: transparent;
}

.button:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
}